body{
    background-color: #080809;
    color: #EEE;
    font-family: roboto;
    margin: 0px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    display: grid;
}
#checker-background, #interactive-background, #gradient-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -5;
}
#checker-background{
    background: radial-gradient(#0003 3px, transparent 3px);
    background-size: 40px 40px;
}
#gradient-background{
    background: radial-gradient(
        60vw circle at 0px 0px,
        #252525 , #080809
    );
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 80px;
    letter-spacing: 8px;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    border-bottom: white solid 1px;
    background-color: #030303dd;
    box-shadow: #fff2 0px 0px 30px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}
.card{
    background-color: #888;
    min-width: 300px;
    max-width: 370px;
    height: 220px;
    flex-grow: 1;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #ffffff05 0px 0px 15px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -ms-transition: 150ms;
    -o-transition: 150ms;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: #fff3 0px 0px 12px;
}
.card::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;;
}
.card img{
    top: 0px;
    left: 0px;
    position: absolute;
    width: calc(100% - 2px);
    max-height: calc(100% - 2px);
    margin: 1px;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    filter: grayscale(.8) blur(0.5px);
    -webkit-filter: grayscale(.8) blur(0.5px);
    transition: filter 150ms;
    -webkit-transition: filter 150ms;
    -moz-transition: filter 150ms;
    -ms-transition: filter 150ms;
    -o-transition: filter 150ms;
    user-select: none;
}
.card:hover img{
    filter: none;
    -webkit-filter: none;
}
.card-content{
    background: linear-gradient(#0006 60%, #000);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card-name{
    color: #edc;
    font-size: 35px;
    margin-bottom: -5px;
}
.card-discription{
    color: #baa;
    font-size: 17px;
}