body::-webkit-scrollbar{
    background-color: #050505;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: #fff5 0px 0px 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #eee;
    box-shadow: #fff9 0px 0px 15px;
}
body{
    background-color: #080809;
    color: #EEE;
    font-family: roboto;
    margin: 0px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    display: grid;
}
#checker-background, #interactive-background, #gradient-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -5;
}
#checker-background{
    background: radial-gradient(#0003 3px, transparent 3px);
    background-size: 60px 60px;
}
#gradient-background{
    background: radial-gradient(
        60vw circle at 50px 50px,
        #252525 , #070909
    );
}
#nav{
    border-bottom: white solid 1px;
    background-color: #030506dd;
    box-shadow: #fff2 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nav-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0px;
    margin: 0px;
}
.nav-link{
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-left: white solid 1px;
    border-right: white solid 1px;
    padding: 0px 10px;
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}
.nav-link:hover{
    letter-spacing: 3px;
    margin: 0px 10px;
    text-shadow: #fffb 0px 0px 10px;
}
#title-text{
    color: #EEE;
    font-size: 80px;
    letter-spacing: 8px;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    transition: 150ms ease;
    -webkit-transition: 150ms ease;
    -moz-transition: 150ms ease;
    -ms-transition: 150ms ease;
    -o-transition: 150ms ease;
    user-select: none;
    cursor: pointer;
    text-shadow: #fff2 0px 0px 10px;
}
#title-text:hover{
    letter-spacing: 15px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}
.card{
    outline: #999 solid 1px;
    min-width: 330px;
    max-width: 420px;
    height: 250px;
    flex-grow: 1;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #ffffff05 0px 0px 15px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -ms-transition: 200ms ease;
    -o-transition: 200ms ease;
    cursor: pointer;
    overflow: hidden;
}
.card:hover, .card:focus{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: #fff5 0px 0px 12px;
}
.card img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    filter: grayscale(.8) blur(0.5px);
    -webkit-filter: grayscale(.8) blur(0.5px);
    transition: filter 150ms;
    -webkit-transition: filter 150ms;
    -moz-transition: filter 150ms;
    -ms-transition: filter 150ms;
    -o-transition: filter 150ms;
    user-select: none;
}
.card:hover img{
    filter: none;
    -webkit-filter: none;
}
.card-content{
    background: linear-gradient(#0006 60%, #000);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card-name{
    color: #edc;
    font-size: 35px;
    margin-bottom: -5px;
}
.card-discription{
    color: #baa;
    font-size: 17px;
    margin: 0px;
}
@media only screen and (max-aspect-ratio: 1/1) {
    #cards{
        gap: 40px;
    }
    .card{
        min-width: 100%;
        max-width: 100%;
        height: max(calc(35vh - 50px), 300px);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .card img{
        filter: none;
    }
    .card-content{
        padding: 20px;
    }
    .card-name{
        font-size: 75px;
    }
    .card-discription{
        font-size: 45px;
    }
}